*{
	margin: 0;
	padding: 0;
}
:root {
	--OpenSans: 'Open Sans', sans-serif;
	--Raleway: 'Raleway', sans-serif;
}
.container{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 30px;
}
.scroll{
	background-color: #717171;

									/*header*/
}
header{
	position: fixed;
	top:0;
	width:100%;
	z-index: 1;
}
.main-section{
	background: url("../images/header-bg.png") no-repeat 0 0/ 100%;
	background-size: cover;
}
.main-container{
	max-width: 1500px;
	margin: auto;
}
.main-header .navigation-bar > div a{
	padding: 10px 0;
} 
.main-header .navigation-bar{
	padding: 30px 0;
	display: flex;
	align-items: center;
}
.main-header .navigation-bar > nav , .main-header .navigation-bar > div{
	flex: auto;
}
.main-header .navigation-bar nav ul{
	display: flex;
	justify-content: center;
}
.main-header .navigation-bar nav ul li{
	list-style: none;
}
.main-header .navigation-bar nav ul li a{
	font-family: var(--Raleway);
	text-decoration: none;
	font-weight: bold;
	padding: 10px 20px;
	font-size: 16px;
	color: #f3f5fd;
}
.main-header .navigation-bar nav ul li:last-child a{
	border:white solid 1px;
	border-radius: 5px;
}

											/*index-page main-section*/

.main-section{
	padding-top: 200px;
}
.main-section .main-heading{
	text-align: center;
}
.main-section .main-heading h1{
	font-family: var(--Raleway);
	font-size: 72px;
	font-weight: bold;
	color: #f9fafe;
	margin-bottom: 30px;
}
.main-section .main-heading span{
	color: #f9fafe;
	font-size: 30px;
	font-family: var(--OpenSans);
	font-weight: 400;
}
.main-section .input-box{
	display: flex;
	width:100%;
	justify-content: center;
	margin-top: 90px;
	padding-bottom: 200px;
	font-family: var(--Raleway);
}
.main-section .input-box select{
	font-size: 14px;
	font-weight: normal;
	color: #717171;
	padding: 15px 202px 15px 14px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.main-section .input-box > div button{
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	background-color:#e7434e;
	padding: 17px 20px 15px;
	border-radius: 0 5px 5px 0px;
	outline: none;
	border: 1px transparent;
}
.main-section .input-box > div button img{
	padding-right: 10px;
	vertical-align: middle;
}

									/*Counter-section (section-2)*/

.counter-section{
	margin-top: -90px;
}
.counter-section .flex-parent{
	display: flex;
	justify-content: center;
	padding:50px 0;
	background-color: white;
	box-shadow:  3px 15px 15px #f3f3f3;
	border-radius: 5px;
}
.counter-section .flex-parent > div{
	flex:auto;
	border-right: 1px solid #d4d4d4;
}
.counter-section .flex-parent > div:last-child{
	border: none;
}
.counter-section .flex-parent > div span{
	display: block;
	font-family: var(--OpenSans);
	text-align: center;
	padding: 5px 0;
}
.counter-section .flex-parent > div span:first-child{
	font-size: 30px;
	font-weight: bold;
	color: #343434;
}
.counter-section .flex-parent > div span:last-child{
	color: #8d8d8d;
	font-weight: 400;
	font-size: 18px;
}

					/*Destinations-section (section-3)*/

.destinations div div h2{
	font-weight: normal;
	font-size: 30px;
	font-family: var(--Raleway);
	text-align: center;
	margin-top: 100px;
	color: #343435
}
.destinations > div > div:first-child span{
	font-weight: normal;
	font-size: 16px;
	font-family: var(--OpenSans);
	text-align: center;
	margin-top: 30px;
	color: #7a7a7a;
	display: block;
}
.destinations .flex-parent{
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
}
.destinations .flex-parent > div{
	padding:10px;
	position: relative;
}
.destinations .flex-parent div:nth-child(3) , .destinations .flex-parent div:nth-child(4){
	padding-right: 18px;
}
.destinations .flex-parent > div div:nth-child(2){
	background-color: #e7434e;
	width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-family: var(--OpenSans);
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.destinations .flex-parent > div div:nth-child(2) img{
	padding-right: 10px;
}
.destinations .flex-parent > div div:nth-child(3){
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.destinations .flex-parent > div div:nth-child(3) h3{
	font-weight: 400;
	font-family: var(--Raleway);
	color: #ffffff;
	font-size: 30px;
}
.destinations .flex-parent > div div:nth-child(3) span{
	font-weight: 400;
	font-family: var(--Raleway);
	color: #ffffff;
	font-size: 16px;
	margin-top: 10px;
	display: block;
}
.destinations > div > div:last-child{
	margin-bottom: 80px;
}
.destinations > div > div:last-child a{
	font-size: 14px;
	font-family: var(--Raleway);
	font-weight: bold;
	color: #343434;
	text-decoration: none;
	padding:22px 40px;
	display: block;
	margin: 0 auto;
	width: max-content;
	border: 2px solid #bdbdbd;
	border-radius: 5px;
}

							/*own boat Section (section-4) */
.own-boat{
	width: 100%;
	background:  url("../images/ownboat-bg.png") no-repeat center/ 100%;
	background-size: cover;
}
.own-boat > div > div{
	text-transform: uppercase;
	text-align: center;
	padding-top: 180px;
	padding-bottom: 80px;
}
.own-boat > div > div h2{
	font-size:72px;
	color: #f9fafe;
	font-family: var(--Raleway);
	font-weight: bold;
	margin-bottom: 10px;
}
.own-boat > div > div span{
	color: #f9fafe;
	font-size: 30px;
	font-family: var(--OpenSans);
}
.own-boat > div > div > div{
	background-color: #e7434e;
	width: 20%;
	margin: 50px auto;
	border-radius: 10px;
	padding: 20px 30px;
}
.own-boat > div > div > div a{
	color: #fdf6f6;
	font-family: var(--Raleway);
	font-size:14px;
	font-weight: bold;
	padding: 20px 10px;
	text-decoration: none;
}

									/*featured-boats (section-5)*/

.featured-boats{
	margin-top: 100px;
}
.featured-boats > div > div{
	text-align: center;
}
.featured-boats > div > div h2{
	font-family: var(--Raleway);
	font-size: 30px;
	color: #343435;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.featured-boats > div > div span{
	font-family: var(--OpenSans);
	font-size: 16px;
	color: #717171;
	font-weight: normal;
}
.featured-boats .flex-parent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}
.featured-boats .flex-parent > div{
	padding: 10px;
	position: relative;
}
.featured-boats .flex-parent > div div:nth-child(2){
	background-color: #e7434e;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.featured-boats .flex-parent > div div:nth-child(2) span{
	color: #ffffff;
    font-family: var(--OpenSans);
    font-weight: bold;
    font-size: 16px;
}
.featured-boats .flex-parent div h3{
	font-family: var(--Raleway);
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
	position: absolute;
	bottom: 60px;
	left: 30px;
}
.featured-boats .flex-parent div ul{
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.featured-boats .flex-parent div ul li{
	list-style: none;
	float: left;
	padding-right: 35px;
}
.featured-boats .flex-parent div ul li span{
	color: #ffffff;
	font-family: var(--OpenSans);
	font-size: 16px;
}
		/*hidden section*/
.featured-boats #hide-boats{
	display: none;
}
.featured-boats .load-more{
	border:1px solid #bdbdbd;
	margin: 100px auto;
	width: 15%;
	text-align: center;
	border-radius: 10px;
}
.featured-boats .load-more span {
	text-decoration: none;
	font-family: var(--Raleway);
	font-weight: bold;
	font-size: 14px;
	color: #343434;
	padding: 15px;
	display: block;
	text-transform: uppercase;
	cursor: pointer;
}

									/*footer-section*/

.footer-section{
	background-color: #404040;
	border-top:5px dashed #e7434e;
}
.footer-section .flex-parent{
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
	margin-top: 50px;
}
.footer-section .flex-parent > div{
	width: 15%;
}
.footer-section .flex-parent > div:nth-child(3){
	width: 35%;
}
.footer-section .flex-parent div h2{
	color: #ffffff;
	font-family: var(--Raleway);
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.footer-section .flex-parent div ul li{
    font-family: var(--OpenSans);
    font-size: 14px;
    line-height: 2.3em;
    list-style: none;
    color: #ffffff;
}
.footer-section .flex-parent div ul li a{
	text-decoration: none;
	color: #ffffff;
}
.footer-section .form  div{
	display: flex;
	margin-top: 35px;
}
		/*email-input*/
.footer-section .form div input:nth-child(1){
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
	width: 100%;
	font-size: 14px;
}
		/*subscribe button*/

.footer-section .form input:nth-child(2){
	background-color: #e7434e;
	padding: 9px 25px;
	text-transform: uppercase;
	color: #ffffff;
	font-family:  var(--OpenSans);
	font-size: 14px;
	text-decoration: none;
	border: 1px transparent;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	cursor: pointer;
}
.footer-section .social-media-icons{
	margin-top: 35px;
}
.footer-section .social-media-icons a:nth-child(1) img , .footer-section .social-media-icons a:nth-child(2) img{
	margin-right: 20px
}
.footer-section .flex-parent div address{
	font-family: var(--OpenSans);
    font-size: 14px;
    line-height: 2.3em;
    font-style: normal;
}
.footer-section .flex-parent div address a , .footer-section .flex-parent div address span , .footer-section .flex-parent div address label{
	text-decoration: none;
	color: #ffffff;
}
label.error{
	color: red;
	text-align: center;
	font-weight: bold;
}
input.error{
	border: 1px dashed red;
}
.swal2-styled.swal2-confirm{
	background-color: #e7434e !important;
}
.swal2-title{
	font-family: var(--OpenSans) !important ;
}
					/*inner-page*/
					/*top-destinations page*/

.top-destination-header{
	background-color: #717171;
}
.top-destination{
	font-family: var(--Raleway);
	background-color: #71717147;
	margin-top: 97px;
	padding-top: 50px;
}
.top-destination h1{
	font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
    color: #343435;
    text-decoration: underline 5px solid #e7434e;
}
.top-destination .slider{
	width: 100%;
}
.top-destination .slider img{
	height: 600px;
	border: 5px solid #e7434e;
	border-radius: 20px;
}
.top-destination .flex-parent{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 10px;
}
.top-destination .flex-parent > div{
	flex: 1;
	margin:10px;
}
.top-destination .flex-parent img{
	max-width: 600px;
    max-height: 600px;
    border-radius: 20px;
    border: 5px solid #e7434e;
	box-shadow: 10px 10px 10px #9dadbd30;
}
.top-destination .flex-parent div h2{
	text-decoration: underline 5px solid #e7434e;
	font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: #343435;
}
.top-destination .flex-parent div p{
	padding: 10px;
	font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #343435;
    line-height: 1.3rem;
}

				/*Add your boat (form)*/
.form-header{
	background-color: #717171; 
}
.main-section-form{
	margin-top: 97px;
	background-color:  #71717147;
	font-family: var(--OpenSans);
	padding:80px 0;
}
.main-section-form .title-box{
	background-color: #ffffff;
	padding: 40px;
	border: 5px solid #e7434e;
	box-shadow: 10px 10px 10px #4040408a;
	border-radius: 10px;
}
.main-section-form .title-box h2{
	color:#383c40;
	font-size: 30px;
	margin-bottom: 10px;
	text-align: center;
}
.main-section-form .make-money{
	background-color: #ffffff;
	margin-top: 80px;
	width: 20%;
	float: right;
	border: 5px solid #e7434e;
	box-shadow: 10px 10px 10px #4040408a;
	border-radius: 10px;
	text-align: center;
}
.main-section-form .make-money ul li{
	list-style: none;
	padding: 10px;
	line-height: 2.3rem;
	color: #757c84;
}
.main-section-form .make-money ul li:before {
  content: '\2713 ';
  color: #bdbdbd;
  font-weight: bold;
}
.main-section-form .form-box{
	background-color: #ffffff;
	border: 5px solid #e7434e;
	box-shadow: 10px 10px 10px #4040408a;
	border-radius: 10px;
	margin-top: 80px;
	width: 75%;
}
.main-section-form .form-box h2{
	text-align: center;
	padding: 30px 0;
	border-bottom: 1px solid #dedede;
	font-weight: bolder;
}
.main-section-form .form-box .flex-parent{	
	display: flex;
	flex-wrap: wrap;
}
.main-section-form .form-box .flex-parent > div{
	width: 40%;
	margin: 20px auto;
}
.main-section-form .form-box .flex-parent div label{
	display: block;
	margin:5px;
	font-weight: 600;
	font-size: 20px;
	text-align: left;
}
.main-section-form .form-box input{
	padding: 10px 15px;
    width: 80%;
    border: 1px solid grey;
    font-size: 15px;
}
.main-section-form .form-box select{
	padding: 10px 15px;
    width: 90%;
    border: 1px solid grey;
    font-size: 15px;
}
.main-section-form .form-box .radio-type ul{
	list-style: none;
}
.main-section-form .form-box .radio-type ul li{
	float: left;
	margin: 0px 10px;
}
.main-section-form .form-box input[type=radio]{
	width: auto;
	margin: 5px;
}
.main-section-form .form-box input[type=submit]
{
	background-color: #e7434e;
	padding: 15px;
	border-radius: 5px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	border:1px solid transparent;
	width: 40%;
	cursor: pointer;
}
.main-section-form .error{
	color:red;
	font-size: 15px !important;
}
.main-section-form input.error , .main-section-form select.error{
	border: 1px dashed red;	
}
.main-section-form .swal2-styled.swal2-confirm{
	background-color:  #e7434e !important;
}

		/*gallery page*/

.gallery-header{
	background-color: #717171;
}
.gallery-page{
	margin-top: 97px;
	background-color:  #71717147;
	font-family: var(--OpenSans);
	padding-bottom: 60px; 
}
.main-gallery iframe{
	height: 500px;
	width:100%;
	border: 5px solid #e7434e;
	box-shadow: 10px 10px 10px #4040408a;
	border-radius: 10px
}
.gallery-page h1{
	font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding: 50px 0;
    color: #343435;
    text-decoration: underline 5px solid #e7434e;
}
.gallery-page h2{
	font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
    color: #343435;
    text-decoration: underline 5px solid #e7434e;
}
.grid-item {
	width: 300px;
	padding: 15px;
}
.gallery a img{
	margin: 10px;
	height:250px;
  	width: 250px;
	transition:1s;
  	border: 5px solid #e7434e;
	box-shadow: 10px 10px 10px #4040408a;
	border-radius: 10px;
}
.gallery img:hover{
	filter:grayscale(100%);
	transform:scale(1.1);
}
.gallery{
	box-sizing:border-box;
  	margin: 0 auto;
}

			/*about-us page*/

.about-header{
	background-color: #717171;
}
.aboutpg
{
		font-family: var(--Raleway);
		background-color: #71717147;
		padding-top: 50px;
}
.about-1 .container{
	display: flex;
	align-items: center;
}
.about-1
{
	margin-top: 100px;
	padding-bottom: 80px;

}
.about-1 img
{
	border-radius: 15px;
}
.about-1 .why-nava
{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
    padding: 60px 40px;
    margin-left: -80px;
}
.about-1 .why-nava h2
{
	color: #e7434e;

}
.about-1 .why-nava p
{
	color: #4b5765;
	font-weight: 400;
	font-size: 100%;
	line-height: 30px;
	margin-top: 20px;
}
.renting-boat
{
	margin-top: 50px;
}
.renting-boat h2
{
	margin-bottom: 20px;
	margin-left: 50px;
	font-size: 40px;
}
.renting-boat .flex-parent 
{
	display: flex;
	justify-content: space-around;
	padding-bottom: 30px;
}
.renting-boat .flex-parent >div
{
	padding: 50px;
	line-height: 40px;
	width: 30%;
}
.renting-boat .flex-parent div span{
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	display: block;
}
.renting-boat .flex-parent >div h3
{
	font-weight: bolder;
	text-align: center;
}
.renting-boat .flex-parent div div
{
	border-radius: 100%;
	width: 40px;
	height: 40px;
	border:3px solid black;
	margin-left: 60px;
	display: flex;
	justify-content: center;
	
}
.meet-team
{
	margin-top: 50px;
	padding-bottom: 90px;
}
.meet-team h2
{
	font-size: 40px;
	margin-bottom: 50px;
	text-align: center;
}
.meet-team h2 span
{
	font-size: 40px;
	margin-bottom: 50px;
	text-align: center;
	color: #e7434e;
}
.meet-team .flex-parent>div div:nth-child(1) img
{
	border-radius: 100%;
	width: 200px;
}

.meet-team .flex-parent
{
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content:space-around;
	align-items:center;
}
.meet-team .flex-parent>div
{
	width: 25%;
	padding-bottom: 40px;
}
.meet-team .flex-parent>div div
{
	padding-top: 30px;
	text-align: center;
}

.meet-team .flex-parent>div div:nth-child(2) h3
{
	font-size: 20px;
	padding-left: 10px;	
	margin-bottom: 20px;
}

.meet-team .flex-parent>div div:nth-child(2) h3 span
{
	font-size: 20px;
	padding-left: 0px;	
	margin-bottom: 20px;
	color: #e7434e;
}
.meet-team .flex-parent>div div:nth-child(2) span
{
	color: grey;
	font-size: 20px;
	padding-bottom: 20px;

}
.faqs .flex-parent
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;

}
.faqs .flex-parent> div
{
	width: 90%;
}
.faqs .flex-parent> div h2
{
	margin-bottom: 20px;
	font-size: 40px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
.partners
{
	background-color: #e7434e !important;
	color: grey;
}
.calender
{
	margin-top: 50px;
} 
.calender .flex-parent
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;

}
.calender .flex-parent> div
{
	width: 90%;
}
.calender .flex-parent> div h2
{
	margin-bottom: 20px;
	font-size: 40px;
}
#calendarTitle
{
	display: none !important;
}
.partners
{
	margin-top: 50px;
	padding-bottom: 90px;
}
.partners div div
{
	text-align: center;
}
.partners div div h2
{
	font-size: 40px;
	margin-bottom: 20px;

}
.partners div div span
{
	color: grey;
	font-size: 20px;
}
.partners .flex-parent 
{
	display: flex;
	justify-content: space-around;
	padding-bottom: 60px;
	padding-top: 50px;
}
.partners .flex-parent img{
	width: 150px;
}
/* sidelogin */

.side-sign-up{
    display: none;
}
.side-sign-up-active{
    display:block;
    animation: side-bar 0.2s;
}
@keyframes side-bar{
    0%{
        right: -240px;
        display: block;
    }
    100%{
        right: 0px;
        display: block;
    }
}
.side-sign-up{
    width:420px;
   position: fixed;
    right: 0px;
    top: 100px;
    background-color: #ffffff;
    box-shadow: 3px 5px 30px rgba(0,0,0,0.1);
}
.side-sign-up h2{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #555555;
    text-transform: uppercase;
    width: 90%;
    padding: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #acacac;
    margin: auto;
}
.side-sign-up form{
    padding: 5px 30px 20px 30px;
}
.side-sign-up form label{
    font-weight: 400;
    color: #1f99e0;
    font-size: 0.9rem;
    margin: 20px 0px 5px 0px;
    display: flex;
    letter-spacing: 1px;
}
.side-sign-up form label samp{
    color: #d82710;
    font-size: 1.1rem;
    font-weight: 800;
}
.email,.password,.name{
    width:100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #acacac;
}
.email input,.password input,.name input{
    width:100%;
    height: 100%;
    border: none;
    outline: none;
}
.email i,.password i,.name i{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #acacac;
    color: #555555;
}
.sign-up{
    width:100%;
    height: 45px;
    background-color: #e8505b;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0px;
    border: none;
    outline: none;
    font-weight: 500;
}
.sign-up-cancel-btn{
    position: absolute;
    left: 0px;
    top: 0px;
    width:40px;
    height: 40px;
    background-color: #e8505b;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
label .error{
	color:red;
	font-weight: bold;
}
input .error{
	border: 1px dashed red;		
}

			/*featured-boats innerpage*/
.featured-boats-header{
	background-color: #717171;
}
.featured-boats-main{
	font-family: var(--OpenSans);
	background-color: #71717147;
	margin-top: 97px;
}
.filter-box{
	display: flex;
	padding: 30px;
	justify-content: center;
}
.filter-box select{
	width: 25%;
  	padding: 20px 15px 20px 5px;
	font-size: 1.2em;
	margin-left: 1%;
	border: 1px solid #e7434e;
}
.filter-box button{
	border-radius: 10px;
	padding: 20px;
	font-size: 1.2em;
	margin-left: 10%;
	background-color: #e7434e;
	color: white;
	border: 1px solid transparent;
}
/*.img-box{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 25px;
}*/
.img-box img{
	width: 250px;
	height: 250px;
	border: 5px solid #e7434e;
	box-shadow: 10px 10px 10px #4040408a;
	border-radius: 10px;
	margin: 20px 10px;
}
.country h2{
	font-size: 30px;
	text-align: center;
	padding: 25px;
	color: #383c40;
}
.country .sorry-mesg{
	font-size: 20px;
	font-weight: normal;
	color: #383c40;
	text-align: center;
	padding: 25px;
	display: none;
}
.page-loader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background:#fff url(../images/loader.gif) no-repeat center;
	opacity: 0.8;
	
}

